<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="rumahsakitConnectionString" connectionString="Data Source=laptop-l9aqsnvb\sqlexpress;Initial Catalog=rumahsakit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="rumahsakitConnectionString2" connectionString="Data Source=laptop-l9aqsnvb\sqlexpress;Initial Catalog=rumahsakit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="rumahsakitConnectionString3" connectionString="Data Source=laptop-l9aqsnvb\sqlexpress;Initial Catalog=rumahsakit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="rumahsakitConnectionString4" connectionString="Data Source=laptop-l9aqsnvb\sqlexpress;Initial Catalog=rumahsakit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="rumahsakitConnectionString5" connectionString="Data Source=laptop-l9aqsnvb\sqlexpress;Initial Catalog=rumahsakit;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>